<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Path>F:\Blizzrad\World of Warcraft 1.12_en\WoW.exe</Path>
  <AccountName>uuid123452</AccountName>
  <StopOnRare>False</StopOnRare>
  <NotifyOnRare>False</NotifyOnRare>
  <PetFood></PetFood>
  <AccountPassword>85642474</AccountPassword>
  <RestManaAt>45</RestManaAt>
  <Drink>Refreshing Spring Water</Drink>
  <RestHealthAt>1</RestHealthAt>
  <Food></Food>
  <MobSearchRange>50</MobSearchRange>
  <MaxDiffToWp>100</MaxDiffToWp>
  <CombatDistance>25</CombatDistance>
  <MinFreeSlotsBeforeVendor>1</MinFreeSlotsBeforeVendor>
  <KeepItemsFromQuality>3</KeepItemsFromQuality>
  <WaypointModifier>0</WaypointModifier>
  <BeepOnSay>False</BeepOnSay>
  <BeepOnWhisper>False</BeepOnWhisper>
  <BeepOnName>False</BeepOnName>
  <BreakFor>0</BreakFor>
  <ForceBreakAfter>0</ForceBreakAfter>
  <UseIRC>False</UseIRC>
  <IRCBotNickname></IRCBotNickname>
  <IRCBotChannel></IRCBotChannel>
  <SkinUnits>False</SkinUnits>
  <NinjaSkin>False</NinjaSkin>
  <LootUnits>True</LootUnits>
  <Herb>False</Herb>
  <Mine>False</Mine>
  <TravelMode>False</TravelMode>
  <GroupMode>True</GroupMode>
  <LeaderMode>False</LeaderMode>
  <Party1>小劳斧丶</Party1>
  <Party2></Party2>
  <Party3></Party3>
  <Party4></Party4>
  <Party5>小芙莉丶</Party5>
  <Tanlet></Tanlet>
  <TargetZ>5</TargetZ>
  <LevelOut>12</LevelOut>
  <MountName>Brown Skeletal Horse</MountName>
  <LeaderDistance>15</LeaderDistance>
</Settings>